<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

<body>
  <nav>
    <ul>
      <li><a href="https://discordapp.com/"><img src="img/logo.png" alt=""></a></li>
      <li><a href="https://discordapp.com/features">Features</a></li>
      <li><a href="https://discordapp.com/download">Download</a></li>
      <li><a href="https://discordapp.com/jobs">Jobs</a></li>
      <li><a href="https://discordapp.com/nitro">Nitro</a></li>
      <li><a href="https://blog.discordapp.com/">Blog</a></li>
      <li><a href="">More</a></li>
    </ul>
    <ul class="right">
      <li><a href="https://twitter.com/discordapp"><img src="https://discordapp.com/assets/a39ef972d8ec7966a6a25b1853b14f38.svg" alt=""></a></li>
      <li><a href="https://www.facebook.com/discordapp"><img src="https://discordapp.com/assets/47ee7342b7e2986c314fd77f4331df63.svg" alt=""></a></li>
      <li><a href="https://www.instagram.com/discordapp/"><img src="https://discordapp.com/assets/97e19ce71e9c9273e01d64da1948912b.svg" alt=""></a></li>
      <button type="button" class="open-button">Open</button>
    </ul>
  </nav>
  <div class="box">
    <div><h1>It's time to ditch Skype and TeamSpeak.</h1></div>

    <p>All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone. Stop paying for TeamSpeak servers and hassling with Skype. Simplify your life.</p>
    <span><button type="button" class="download-button">Download for OS X</button>
    <button type="button" class="open-large-button">Open Discord</button></span>

  </div>
  <main  class="hero-image">

  </main>
</body>
</html>
